.student{
    border: 2px solid;
    background-color: grey;
}
.name{
    width: 150px;
    height: 40px;
    border: 1px solid;
}
.input{
    height: 40px;
    width: 100px;
    background-color: grey;
}
#add-form{
    font-size: 40px;
    margin-left: 10em
}
#student-form{
    margin-left: 20em;
    margin-top: 2em;
}
.delete{
    width: 50px;
    text-align: center;
    background-color: red;
}